
deep-learning-with-keras-tensorflow-workshop/Building-Blocks-of-Deep-Learning/.ipynb_checkpoints/activity1.01-solving-quadratic-equation-using-optimizer-checkpoint.ipynb
deep-learning-with-keras-tensorflow-workshop/Building-Blocks-of-Deep-Learning/.ipynb_checkpoints/exercise1.03-matrix-multiplication-using-tensorflow-checkpoint.ipynb
deep-learning-with-keras-tensorflow-workshop/Building-Blocks-of-Deep-Learning/.ipynb_checkpoints/exercise1.04-reshaping-matrices-using-reshape-function-in-tensorflow-checkpoint.ipynb
deep-learning-with-keras-tensorflow-workshop/Building-Blocks-of-Deep-Learning/.ipynb_checkpoints/exercise1.05-implementing-argmax-function-checkpoint.ipynb
deep-learning-with-keras-tensorflow-workshop/Building-Blocks-of-Deep-Learning/.ipynb_checkpoints/exercise1.06-using-optimizer-for-simple-linear-regression-checkpoint.ipynb
